/* GENERAL PAGE RULES */

a {
	color:#347eec;
}

a:hover {
	color:#ffae1b;
}

/* NAVBAR */

#navbar {
	margin: 0px 0 0 0;
	text-align:right;
}

#navbar li {
	display: inline;
	margin: 0 10px 0 0;
}

#navbar ul {
	margin-bottom: 10px;
}

#navbar a {
	text-decoration: none;
}

#navbar a:hover {
	text-decoration: underline;
}

body {
	margin-top: 100px;
	margin-bottom: 25px;
}

h5 {
    font-size:1.3em;
    margin-bottom:0.5em;
}

ul {
    list-style-position: outside;
    margin-left:2em;
}

